
/* ROSANGELA ALECRIM DE MELO */

/* Centralizando imagem do app*/
#centro{
	width: 250px;
	height: 100px;
	background-position: center;
	top:50%;
	left:50%;
	margin-top: 50px;
	margin-left: 50px;  
}

/* Estilo do radio SEXO*/

body {
  cursor: url("https://ionicframework.com/img/finger.png"), auto;
}

.platform-android .radio-icon {
  visibility: visible !important;
}

.platform-android .radio-icon:before {
  content: "";
  border: 2px solid black;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.platform-android .radio-icon:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 22px;
  background: black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  overflow: hidden;
  visibility: hidden;
}

.item-radio input:checked + .radio-content .radio-icon:after {
  visibility: visible;
}

/*ESTILO CAMPO OBRIGATORIO*/
.field-required::after {
	color: red;
	font-weight: bold;
	padding-left: 2px;
	content: '*';
}
.medium-image {
  max-width:90%; 
  max-height: 90%;
  background-position: center;
}

.full-image {
  max-width:150%; 
  max-height:80%;
  background-position: center;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #FFD700;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #FFD700;
}
.alert-warning .alert-link {
  color: #66512c;
}

.ion-thumbsup:before {
  color: black;
  font-size: 2em;
}

.ion-edit:before {
  color: black;
  font-size: 2em;
}

.ion-chatbox:before {
  color: black;
  font-size: 1.5em;
}

.ion-edit:before {
  color: black;
  font-size: 1.5em;
}

.ion-close-circled {
  color: black;
  font-size: 1.5em;
}

.ion-checkmark-circled {
  color: black;
  font-size: 1.5em;
}