<ion-view view-title=" ">
  <ion-content>

  <div class="col col-center text-center">
    <h4 class="gray">Crie sua conta grátis</h4>
  </div>

   <form ng-submit="cadastro()">
    <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label field-required"><strong>Primeiro Nome</strong></span>
          <input type="text" placeholder="Daniela" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label field-required"><strong>Último Nome</strong></span>
          <input type="text" placeholder="Alecrim" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label field-required"><strong>E-mail</strong></span>
          <input type="text" placeholder="daniela.alecrim@gmail.com" required>
        </label>
        <label class="item item-input">
              <span class="input-label"><strong>Data de Nascimento</strong><br>
              <input type="date" ng-model="intro.dob" name="dob" placeholder="dd/mm/aaaa" required>
        </label>
        <label class="item item-input item-stacked-label" >
           <strong>Sexo</strong>
                <ion-radio>
                    Masculino
                </ion-radio>
                <ion-radio>
                    Feminino
                </ion-radio>
        </label>
        <label class="item">
              <button class="button button-block button-positive" type="submit">CADASTRAR</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>