<ion-view view-title="Chamados">

    <script id="my-modal.html" type="text/ng-template">
      <ion-modal-view>
        
        <ion-header-bar>
            <button class="button button-icon icon ion-ios-close-outline" 
            ng-click="closeModal()"></button><h1 class="title">Comentários</h1>
         
        </ion-header-bar>
        <ion-content>
            <!-- <h1 class="title">COMENTARIOS</h1> -->
            <div class="list card" ng-repeat="obj in listComentario">
                
                <div class="item item-avatar">
                   <img src="img/ROSANGELA.jpg">
                   
                   <h2>{{obj.usuario.nomeUsuario}}</h2>
                   <p>{{obj.descricao}}</p>
                </div>
            </div>
        </ion-content>
      </ion-modal-view>
    </script>

<ion-content>
 <div class="list list-inset">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Pesquisar...">
    </label>
</div>
<!-- <h1 class="title">CHAMADOS</h1> -->
<div class="list card"  ng-repeat="obj in chamados">
   <div class="item item-avatar">
     <img ng-src="{{getImage(obj.urlFoto)}}" onerror="this.src ='img/no-photo.png'">
  
     <h2>{{obj.chamado.usuario.nomeUsuario}}</h2>
     <p>{{obj.chamado.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
   </div>
   <div class="item item-body">
       <div align="right"> <strong><a class="subdued" >{{obj.chamado.categoria.nomecategoria}}</a></strong></div>

       <div class="text-center">
        <img class="medium-image" ng-src="{{getImage(obj.urlArquivo)}}">
      </div>
      <p class="text-justify">
        {{obj.chamado.descricao}}
      </p>   
      <div style="word-spacing: 7px;">
        <p>
          <strong><a ng-click="like({{obj.chamado.quantidadeCurtida}})" class="subdued">{{obj.chamado.quantidadeCurtida}} {{obj.chamado.quantidadeCurtida > 1 ? 'Curtidas' : 'Curtir' }}</a></strong>
          <strong><a ng-click="openModal(obj.listComentario);" class="subdued">{{obj.qtdComentarios}} {{obj.qtdComentarios > 1 ? 'Comentários' : 'Comentar'}}</a></strong>
          <strong><a ng-if="obj.chamado.usuario.id == 1" ng-click="edit({{obj.usuario.id}})" class="subdued">Editar</a></strong>
          <strong><a ng-if="obj.chamado.status.descricao != 'Fechado'" ng-click="excluir({{obj.chamado.id}})" class="subdued">Excluir</a></strong>
          <strong><a class="subdued">{{obj.chamado.status.descricao}}</a></strong>
        </p>
     </div>
  </div>
</div>
</ion-content>
</ion-view>

