<ion-view view-title="Chamados">
 <ion-content>
    <!-- INPUT ICONS -->
   <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Pesquisar...">
  </label>
</div>
  <!-- <h1 class="title">CHAMADOS</h1> -->
       <div class="list card"  ng-repeat="obj in chamados">
       
        <div class="item item-avatar">
          <img src="img/geison.jpg">
          <h2>{{obj.chamado.usuario.nomeUsuario}}</h2>
          <p>{{obj.chamado.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
        </div>

        <div class="item item-body">
          <img class="full-image" src="{{obj.urlArquivo}}">
          <p>
           {{obj.chamado.descricao}}
          </p>
          <p>
            <a ng-click="like({{obj.chamado.quatidade_like}})" class="subdued">{{obj.chamado.quantidadeLike}} {{obj.chamado.quantidadeLike > 1 ? 'Curtidas' : 'Curtir' }}</a>
            <a ng-click="comentarios({{obj.chamado.id}})" class="subdued">{{obj.qtdComentarios}} {{obj.qtdComentarios > 1 ? 'Comentários' : 'Comentário'}}</a>
            <a ng-if="obj.chamado.usuario.id == 1" ng-click="edit({{obj.usuario.id}})" class="subdued">Editar</a>
            <a ng-if="obj.chamado.status.descricao != 'Fechado'" ng-click="excluir({{obj.chamado.id}})" class="subdued">Excluir</a>
            <a class="subdued">{{obj.chamado.status.descricao}}</a>
            <a class="subdued">{{obj.chamado.categoria.nomecategoria}}</a>
        </div>
      </div>
     
 </ion-content>
</ion-view>
