<ion-view view-title="Criar Chamado">
    <ion-content>
      <!-- <h1 class="title">CHAMADOS</h1> -->
          <div class="list card">
            <div class="item item-avatar">
              <img ng-if="fotoUsuarioLogado" ng-src="{{getImage(fotoUsuarioLogado.fotoBase64)}}" onerror="this.src ='img/no-photo.png'">
              
              <h2>{{usuarioLogado.nome}}</h2>
              <p>{{dataAtual | date: 'dd/MM/yyyy'}}</p>
            </div>

            <div class="item item-body">
            
            <label class="item item-input">
              <textarea ng-model="chamado.descricao" rows="7" placeholder="Publicando chamado..."></textarea>
            </label>
    
            <label class="item item-input item-stacked-label" >
              <h2><strong>Categoria</strong> </h2>
                 <ion-radio ng-model="chamado.idCategoria" value="1" >
                     Hadware
                  </ion-radio>
                 <ion-radio ng-model="chamado.idCategoria" value="2">
                     Software
                 </ion-radio>
            </label>
            <div class="list">
                <div class="item item-icon-left">
                  <label for="selecao-arquivo" >
                    <i class="icon ion-camera" id="foto"></i>
                     <label onclick="document.getElementById('selecao-arquivo').click()">Inserir imagem</label>
                  </label>
                   <input type="file" id="selecao-arquivo" ng-model="arquivo" style="display: none;" base-sixty-four-input>
                </div>
            </div>
      <button class="button button-block button-positive" ng-click="salvar(arquivo);" type="submit">PUBLICAR</button>      
    </ion-content>
</ion-view>
