<ion-view view-title="Editar Chamado">
    <ion-content>
      <!-- <h1 class="title">EDITAR CHAMADOS</h1> -->
          <div class="list card">
            <div class="item item-avatar">
              <img src="img/rosangela.jpg">
              
              <h2>Rosangela Alecrim</h2>
              <p>Agosto 05, 2017</p>
            </div>

            <div class="item item-body">
            
            <label class="item item-input">
              <i class="ion-android-create placeholder-icon"></i>
              <input type="text" ng-model="chamado.descricao" placeholder="Publicando chamado...">
            </label>
    
            
 <div class="list">

             <label>
                <div class="item item-icon-left">
                   <input type="file" id="foto" name="" ngf-select multiple accept="image/*" style="display:none" ng-model="chamado.foto">
                   <i class="icon ion-camera" id="foto"></i>
                      Foto
                </div>
            </label>
            </div>
      <button class="button button-block button-positive" ng-click="salvar(chamado);" type="submit">SALVAR</button>      
    </ion-content>
</ion-view>
