<ion-view view-title="Cadastro">
  <ion-content>
   <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nome</span>
          <input type="text" ng-model="loginData.nome">
        </label>

        <label class="item item-input">
          <span class="input-label">Apelido</span>
          <input type="text" ng-model="loginData.apelido">
        </label>

        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="loginData.email">
        </label>
                <label class="item item-input">
          <span class="input-label">Setor</span>
          <input type="password" ng-model="loginData.setor">
        </label>
        <label class="item item-input">
          <span class="input-label">Telefone</span>
          <input type="password" ng-model="loginData.telefone">
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Cadastrar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>