<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>

      <div class="card" style="margin:0;padding: 0;">
        <div class="item item-text-wrap">
                <div class="item item-avatar">
          <img src="https://scontent.ffor2-1.fna.fbcdn.net/v/t1.0-1/c0.0.160.160/p160x160/15823641_208018049659163_2387002030826468707_n.jpg?oh=57c9f0cd2253a4fe73363cdf4219e53c&oe=5913688D">
          <h2>Rosangela Alecrim </h2>
          <p>Ro</p>
        </div>
        </div>
      </div>
      <ion-list>
        <ion-item menu-close href="#/app/cadastro">
          <i class="icon ion-home"></i>
          Home
        </ion-item>
        <ion-item menu-close href="#/app/chamados">
          Meus Chamados
        </ion-item>
        <ion-item menu-close href="#/app/configuracao">
          Configuracao
        </ion-item>
        <ion-item menu-close href="#/app/login">
          Login
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
