/* Empty. Add your own CSS if you like */
/* CENTRALIZANDO IMAGEM*/
#centro{
	width: 100px;
	height: 100px;
	background-position: center;
	top:50%;
	left:50%;
	margin-top: 50px;
	margin-left: 50px;  
}