<ion-view view-title=" ">
  <ion-modal-view >
    <ion-header-bar>
      <!-- <h1 class="title">Login</h1> -->
      <div class="buttons">
        <button class="button button-clear" ng-click="closeesqueci-senha()">Close</button>
      </div>
    </ion-header-bar>

  <div class="col col-center text-center">
    <h3 class="gray">Redefinição de senha</h4>
  </div>

 

    <h2 class="center hdr-l">Redefinição de senha</h2>
    <p class="secondary">Insira seu <b>nome de usuário do Spotify</b> ou o <b>e-mail</b> que você usou no cadastro. Nós mandaremos um e-mail com seu nome de usuário e um link para você redefinir sua senha.</p>

    <p class="msg primary"></p>

    <form id="js-password-reset-form" method="post" role="form" action="/br/xhr/json/reset-password.php" novalidate="novalidate"><div class="hidden ajax-spinner"></div>
      <input name="sp_csrf" type="hidden" value="gm0OONsQPsE2lq3Ph8XdrN2FmJaKT74KupFWhCV9syA">
      <div class="js-general-error alert alert-info hidden" data-error="Ôpa, algo deu errado. Tente de novo ou confira nossa <a href=&quot;/help/&quot;>área de ajuda</a> de testes"></div>
      <fieldset>
        <ul>
          <li>
            <label class="sr-only" for="password-reset">Endereço de e-mail</label>
            <input placeholder="Endereço de e-mail ou nome de usuário" type="text" id="password-reset" required="" autocapitalize="off" autocomplete="off" autocorrect="off" data-msg-required="Por favor, insira seu nome de usuário do Spotify." name="email_or_username">
          </li>
        </ul>
      </fieldset>
      <button id="password-button-password-submit" type="submit" class="btn btn-green btn-sm btn-block js-gtm-event" data-ga-category="account" data-ga-action="reset password" data-ga-label="reset-password-account" data-gtm-event-name="reset_password_button_clicked">
        Mandar      </button>
    </form>

    <a id="password-link-login" href="https://accounts.spotify.com/br/login/" class="primary back-link js-link" data-section="signup-select">« Voltar</a>
    <p class="primary">
      Se ainda precisa de ajuda, contate o <a id="password-link-support" class="what-is-spotify" target="_blank" href="/help/faq/account/password-reset/">Suporte do Rede Social Help Desk</a>.    </p>
  </div>
</section>

       
</div>
   </ion-content>
 </ion-modal-view>
  </ion-modal-view>