<ion-view view-title="Chamados">
 <ion-content>
    <!-- INPUT ICONS -->
   <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Pesquisar...">
  </label>
</div>
  <!-- <h1 class="title">CHAMADOS</h1> -->
       <div class="list card">
        <div class="item item-avatar">
          <img src="img/brener.jpg">
          <h2>Brener Sávio</h2>
          <p>November 05, 1997</p>
        </div>

        <div class="item item-body">
          <img class="full-image" src="img/impressora.jpg">
          <p>
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
             <a href="#" class="subdued">Aberto/Fechado</a>
          </p>
        </div>
      </div>
       <!-- <h1 class="title">CHAMADOS</h1> -->
       <div class="list card">
        <div class="item item-avatar">
          <img src="img/geison.jpg">
          <h2>Geison Nerd</h2>
          <p>November 05, 1997</p>
        </div>

        <div class="item item-body">
          <img class="full-image" src="img/componentes.jpg">
          <p>
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
             <a href="#" class="subdued">Aberto/Fechado</a>
          </p>
        </div>
      </div>
        <!-- <h1 class="title">CHAMADOS</h1> -->
       <div class="list card">
        <div class="item item-avatar">
          <img src="img/juliane.jpg">
          <h2>Juliane NERD</h2>
          <p>November 05, 1997</p>
        </div>

        <div class="item item-body">
          <img class="full-image" src="img/HD-externo.jpg">
          <p>
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
             <a href="#" class="subdued">Aberto/Fechado</a>
          </p>
        </div>
      </div>
 <!-- <h1 class="title">CHAMADOS</h1> -->
      <div class="list card">
        <div class="item item-avatar">
          <img src="img/rosangela.jpg">
          <h2>Rosangela Alecrim</h2>
          <p>November 05, 1997</p>
        </div>

        <div class="item item-body">
          <img class="full-image" src="img/apple.jpg">
          <p>
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
             <a href="#" class="subdued">Aberto/Fechado</a>
          </p>
        </div>
      </div>
      <!-- Meus array -->
     	<!--<div class="list">
          <a class="item item-avatar" href="#" ng-repeat="chamado in chamados">
            <img src="{{chamado.img}}">
            <h2>{{chamado.titulo}}</h2>
            <p>{{chamado.resumo}}</p>
            <p>{{chamado.status}}</p>
          </a>

          <a class="item item-avatar" href="#" ng-repeat="chamado in chamados">
            <img src="{{chamado.img}}">
            <h2>{{chamado.titulo}}</h2>
            <p>{{chamado.resumo}}</p>
            <p>{{chamado.status}}</p>
          </a>
      </div>-->

 </ion-content>
</ion-view>
